@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
