@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .custom-container {
    @apply mx-auto px-4 my-10 max-w-[1112px] flex justify-between items-center gap-20 min-h-[calc(100vh-111px)];
  }

  ::-webkit-scrollbar {
    @apply w-2 h-1 /* Ширина скроллбара */;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent /* Цвет фона трека */;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-light rounded-md /* Цвет ползунка */;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-light/70;
  }
}
